@font-face {
    font-family: 'TT Lakes Regular';
    src: url('/fonts/TTLakes-Regular.eot');
    src: url('TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/TTLakes-Regular.woff') format('woff'),
        url('/fonts/TTLakes-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Medium';
    src: url('/fonts/TTLakes-Bold.eot');
    src: url('TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
        url('/fonts/TTLakes-Medium.woff') format('woff'),
        url('/fonts/TTLakes-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-direction: column;
    min-height: 234px;
     background:#F2F2F2;  
     padding: 16px 0 0 24px;
}

 
.swiper-slide{
    display: flex;
    justify-content: space-between;
    height: 72px;
    list-style-type: none;
    align-items:center;
    background:#ffffff;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    /* padding: 0 16px 0 16px; */
}


.swiper-slide img{
    margin-left: 16px;
}

.swiper-pagination-bullet{
background-color:#DDDDDD; 
width: 12px;
height: 12px;
opacity: 1;
margin: 16px 12px 0 0;
}

.swiper-pagination-bullet-active{
    background-color: #B5B6BC;
}
.swiper-pagination{
    position: relative;
    margin: 0 auto;
}



.menu__item--button{

    width: 40px;
    height: 40px;
    background: url(/icons/go.svg) no-repeat;
    border: none;
    margin-right: 16px;
}


.title{
    margin: 0 0 24px 0;
    font-family: 'TT Lakes Regular';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    color: #7E7E82;
    font-weight: 400;
    
    }


    .checkbox__input{
        position: absolute;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    
    }
    
    .checkbox__label{
        display: flex;
        width: 133px;
        height: 24px;
        margin-bottom: 16px;
    
    }
    
    .checkbox {
        margin-top: 24px;
        display: none;
        cursor: pointer;
    }
    
    .checkbox__image{
        width: 24px;
        height: 24px;
        background: url(/icons/arrow.svg) no-repeat;
    }
    .checkbox__read{
    font-family: 'TT Lakes Medium';
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    }
    
    .checkbox__transform{
        transform: rotate(0.5turn);
    
    }





    @media (min-width:768px) {

        .container{
            min-height: 322px;
            
        }

        .checkbox{
            display: block;
        }
        .swiper-wrapper{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr ;
            grid-column-gap: 0px;
            grid-row-gap: 14px;
            height: 160px;
            overflow: hidden;
            

        }
    
        .swiper-slide{
            width: 224px;
        }

        /* .menu__item{
            margin-right: 24px;
        } */
    }
    
    @media (min-width:1120px) {
    
        .swiper-wrapper{
            grid-template-columns: 1fr 1fr 1fr 1fr;
    
        }
    
    }
 

